body
{
	height: 100vh;
}
.heading
{
	text-align: center;
	font-size: 2em;
	margin-top: 12vh;
}

.formcontainer
{
	width: 70%;
    margin-left: 15%;
    height: 60%;
    margin-top: 2%;
}

.form-content
{
	width: 100%;
	padding:2%;
	text-align: center;
}
