body
{
	height: 100vh;
    background-image: url('../assets/artistic_bg.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading
{
	text-align: center;
	font-size: 1.8em;
	padding-top: 1vh;
    padding-bottom: 2vh;
    border-radius: 20px 20px 0 0;
    background-color: #ffffff7a;
    color: #817a98;
}

.formcontainer
{
	width: 55%;
    margin-left: 22.5%;
    height: 58%;
    margin-top: 4%;
    border-radius: 20px;
    background-color: #cacacae6;
    box-shadow: 0px 0px 4px 0px #a6a6a6;
}

.form-content
{
	width: 100%;
	padding: 1% 2% 2% 2%;
	text-align: center;
	border-radius: 5px;
}

.form-input
{
	border: 0;
    border-radius: 5px;
    width: 100%;
    padding: 2% 1% 2% 1%;
    text-align: center;
    letter-spacing: 3px;
    background-color: #eaeaea;
    color: #78718f;
}

.form-input:focus
{
	outline: none;
}

.formfield
{
	width: 50%;
    margin: 3% 0% 2% 25%;
}

.formfield-header
{
	font-size: medium;
    text-align: left;
    padding-left: 2%;
    color: #78718f;
}

.form-submit
{
    border-radius: 6px;
    padding: 1% 4% 1.5% 4%;
    color: #78718f;
    background-color: #eaeaea;
    border: 2px solid #c5c4c8;
}

.form-submit:hover
{
	background-color: #a1a6b6;
    color: #f7f3ff;
    border: 2px solid #dfdfdf;
    transition: 0.3s;
}

.form-submit:focus
{
	outline: 0;
}

.validatormessage
{
	text-align: center;
    color: #e4e4e4;
    margin-top: 1%;
}

.welcomeheader
{
	text-align: center;
	font-size: 1.8em;
	padding-top: 1vh;
    padding-bottom: 2vh;
    background-color: #ffffff7a;
    color: #817a98;
    display: flex;
    height: fit-content;
    justify-content: space-between;
    padding-right: 2%;
}


.welcomemessage
{
    margin-top: 0;
    margin-bottom: 0rem;
    margin-left: 1vw;

}

.logoutbutton, .backbutton
{
	font-size: medium;
    padding: 0.2% 1% 0.5% 1%;
    text-decoration: none;
    color: #78718f;
    background-color: #eaeaea;
    border: 2px solid #c5c4c8;
    border-radius: 6px;
    height: fit-content;
    margin-top: 0.3em;
}

.logoutbutton:hover, .backbutton:hover
{
	text-decoration: none;
	background-color: #a1a6b6;
    color: #f7f3ff;
    border: 2px solid #dfdfdf;
    transition: 0.3s;
}

#actionheader
{
    font-size: medium;
    margin: 1%;
    text-align: center;
    color: #eaeaea;
}

.eachItem
{
    background-color: #ffffffb0;
    border-radius: 14px;
    width: 85%;
    height: 100%;
    padding:0;
    display: flex;
    flex-flow: column;
}

.dynamic-gridbox
{

    margin-bottom: 1em;
}

.makechanges .button
{
    border:0;
    width:33.33%;
}

.makechanges .button:hover
{
    background-color: #a1a6b6;
    color: #f7f3ff;
    transition: 0.3s;
}

.makechanges .button:focus
{
    outline: 0;
}

.leftcurve
{
    border-bottom-left-radius: 14px;
}

.rightcurve
{
    border-bottom-right-radius: 14px;
}

.itemheader
{
    text-align: center;
    background-color: #ffffff8f;
    border-radius: 14px 14px 0px 0px;
}

.itemname
{
    text-align: center;
    margin-left: 12%;
    margin-right: 12%;
    height:40%;
    flex: 1 1 auto;
}

.itemname p
{
    margin: 0;
    padding-top: 4%;
    padding-bottom: 4%;
}

.itemheader p
{
    margin:0;
}